.questions{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    p{
        color: var(--text-color);
    }
    ul{
        li{
            border: 2px dotted var(--text-color);
        }
    }
}